@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

header {
    background-image: url(https://cdn.1tv.ge/app/uploads/2020/12/1608283003-1920-2-1-1024x683.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1200px;
}

p {
    font-size: 10px;
}

.navbar-brand,
.a {
    font-size: 26px;
    padding-left: 126px;
}

.nav-item,
.a {
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    /* padding-top: 28px; */
}


.navbar li a {
    color: #ffffff;
    margin-right: 38px;
}

.min-100 {
    min-height: 450px;
}


.text span {
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
}


.btns a {
    border: 1px solid white;
}

a[href="#mysection"] {
    bottom: 31%;
    font-size: 21px;
}

.w-75>h3::after {
    content: "";
    width: 18px;
    height: 2px;
    background-color: #2196f3;
    display: block;
    margin: 38px auto;
}

.servcard img {
    width: 50%;
}

.btn a {
    background-color: #43a047cc;
    padding: 9px 37px;
}

.cen a {
    background-color: #43a047cc;
}

.down {
    margin-top: 140px;
}


.carousel-inner {
    height: 350px;
    background-image: url('https://images.squarespace-cdn.com/content/v1/53c54574e4b046e5507a54a7/130f1ef7-48fe-4319-8c7d-4669fe569ecd/AV8+STUDIO_VA8_CLIFF+VILLA_2.jpeg?format=500w');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: lighten;
}

.carousel-item img {
    margin-top: 80px;
    margin-bottom: 50px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    
}

.carousel-item {
    color: #fff;
}

.servcard:first-child i {
    color: green;
    left: 100px;
    top: 3px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-20 {
    width: 20%;
    background-color: black;
    height: 200px;
}


.col-20:first-child {
    background-color: rgba(0, 0, 0, 0.1);
}

.col-20:nth-child(2) {
    background-color: rgba(0, 0, 0, 0.051);
}

.col-20:nth-child(3) {
    background-color: rgba(0, 0, 0, 0.1);
}

.col-20:nth-child(4) {
    background-color: rgba(0, 0, 0, 0.051);
}

.col-20:nth-child(5) {
    background-color: rgba(0, 0, 0, 0.1);
}

.col.mycol {
    width: 20%;
    background-color: black;
    height: 200px;



}

.col.mycol:first-child {
    background-color: rgba(0, 0, 0, 0.051);
}

.col.mycol:nth-child(2) {
    background-color: rgb(75, 158, 75);
}

.col.mycol:nth-child(3) {
    background-color: rgba(0, 0, 0, 0.051);
}

.col.mycol:nth-child(4) {
    background-color: rgba(0, 0, 0, 0.1);
}


.col.mycol:nth-child(5) {
    background-color: rgba(0, 0, 0, 0.051);
}

.span,
.name {
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 100%;
}

.mycard{
    min-height: 113px;
    padding-top: 14px;
    padding-left: 18px;
    color: green;
}

.card-body{
    line-height: 37px;
}

.btn.mybtn{
    position: relative;
    border-radius: 0;
    background-color: #4caf50;
    display: flex;
}

.btn i{
    position: absolute;
    right: 14px;
}

#centr{
    padding-left: 200px;
    padding-right: 200px;
}

.map{
    margin-top: 102px;
}

.text{
    margin-top: 44px;
}

.text h3{
    line-height: 103px;
}

.cen{
    padding-top: 38px;
}
.cen a{
    padding: 9px 37px;
}


.dark{
    background-image: url(https://i1.pickpik.com/photos/298/310/359/mountain-lake-person-looking-view-preview.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#img{
    background-color: #000000cf;
}

#alekto{
    font-size: 9px;
}

#i{
    padding-right: 8px;
    color: #4caf50;
}

#top{
    min-height: 400px;
    align-items: baseline;
}

@media (max-width:1240px) {

    .servcard:first-child i {
        top: -34px;
        left: 50px;
    }
}

@media (max-width:442px){
    #centr{
        padding-left: 0;
    padding-right: 0;
    }
}