.form-control {
    border: 0;
    background-color: #f0f8ff00;
}


.navbar {
    box-shadow: 0 6px;
}

.navbar-brand {
    color: #fff;
}

.home {
    display: block;
    color: white;
    text-decoration: none;
    padding: 7px 7px;
}

.promo-text {
    width: 100%;
    background-color: #000000d9;
    text-align: center;
    color: #fff;
    padding: 78px;
    line-height: 17px;
}

.get {
    color: wheat;
    background-color: #1565c0;
    border-radius: 3px;
    padding: 11px;
    border: 0;
    margin-right: 15px;

}



.learn {
    background-color: #00000005;
    border-radius: 3px;
    padding: 10px;
    color: wheat;
    border: 1px solid white;
}


.card-box {
    display: flex;
    padding: 60px;

}

.col-3 {
    width: 33.33333%;
    display: flex;
    justify-content: center;
}

h5 {
    font-size: 13px;
}

.card-text {
    font-size: 10px;
}

.card a {
    text-decoration: none;
}

.card img {
    width: 14%;
    position: absolute;
    left: 18px;
    bottom: 145px;
}

@media (max-width:714px) {

    .card img {
        top: -15px;
    }
}